<!-- 
<div class="page-header">
  <h1 id="welcome-title">ConnecTree<%= image_tag 'landing-tree.png', id: "tree" %></i></h1><small>A simple platform for you to connect with your family</small></h1>
</div>
<div id="enter"> 
    <a class="fa fa-arrow-circle-right fa-5x"  href="/#/login"></a> 
  <div> -->

<div id="home">
  <div class="container">
    <div class="row" id="front">
      <div class="col-xs-12" id="changingBorder">
        <div class="col-xs-12" id="homePage">
          <h1 id="welcome-title"><i> <%= image_tag 'tree-big.png', id: "tree-carousel" %></i>Welcome to Connectree</h1>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag 'carousel3.JPG' %>
      </div>

      <div class="item">
        <%= image_tag 'carousel2.jpg' %>
      </div>

      <div class="item">
        <%= image_tag 'carousel$.JPG' %>
      </div>

      <div class="item">
        <%= image_tag 'beach.jpeg' %>
      </div>
    </div>

    <!-- Left and right controls -->
    <span class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </span>
    <span class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </span>
  </div>
        </div>
      </div> 
    </div>
  </div> 
  <div class="row" id="enter">
    <h2 class="col-xs-8 col-xs-offset-2">A smiple platform for you to connect with your family...</h2> 
      <a class="fa fa-arrow-circle-right fa-3x"  href="/#/login"></a> 
  </div>
</div>

